{% extends 'base.html' %}
{% load static %}

{% block title %}Home - FamPal{% endblock %}

{% block content %}
<div class="container-fluid hero-section mt-5">
  <div class="row align-items-center col-12">
    
    <!-- Left: Image -->
    <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
      <img src="{% static 'img/hero-image.png' %}" alt="Help Photo" class="img-fluid" style="max-height: 300px;">
    </div>
    
    <!-- Right: Text and search -->
    <div class="col-md-6 mt-5">
      <h1 class="mb-3">Do You have an Issue?<br><span class="d-flex justify-content-end">We’ve got you.</span></h1>
      <h2 class="lead">Do you feel like a broken record answering the same question again and again? Or do you feel like you never understand what is going on?
        Then you and your family have landed they right place! M.I.L.O. our friendly chatbot AI is here to help the best he can to keep the peace and save you from pulling your hair out
        of your head from the never ending questions. And if not then your family might just be able to gather together and help each other.
      </h2>

      <!-- <div class="d-flex mb-3">
        <input type="text" class="form-control me-2" placeholder="Search our Help Pages"/>
        <button class="btn button-primary">Search</button>
      </div> -->

      <!-- <a href="{% url 'help' %}" class="btn button-primary mt-2">Get Help</a> -->
       <div class="d-flex justify-content-end">
        <a href="{% url 'help' %}" class="btn button-primary mt-2">Chat with M.I.L.O. ⟶ </a>
       </div>
    </div>
    
  </div>
</div>
{% endblock %}